<!DOCTYPE html>
<html lang="zh">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>BilibiliDownloader</title>
  <link rel="stylesheet" type="text/css" href="{% static 'Downloader/image-site-style.css' %}">
</head>
<span id="noreferer"></span>
<body style="background-image: url({{url}})">
  <div class="up">
    <div class="info">
      <p>{{title}}</p>
      <p>UP主：{{author}}</p>
    </div>
  </div>
  <div class="download">
    <p>{{url}}</p>
    <a title="只测试了 Chrome 能下载，其他浏览器能不能下载没试过"id="downloadbtn" rel="noreferrer" href="{{url}}" download><b>下载</b></a>
  </div>
  <script src="{% static 'Downloader/referrer-killer.js' %}"></script>
  <script>
    document.getElementById('noreferer').innerHTML = ReferrerKiller.imageHtml('{{url}}');
  </script>
</body>
</html>

