<!DOCTYPE html>
<html lang="zh">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>BilibiliDownloader</title>
  <link rel="stylesheet" type="text/css" href="{% static 'Downloader/image-site-style.css' %}">
</head>
<body style="background-image: url({{url}})">
  <div class="up">
    <a id="backbtn" href="{% url 'Downloader:helloPage'%}"><b>返回</b></a>
    <div class="info">
      <p>{{title}}</p>
      <p>UP主：{{author}}</p>
    </div>
  </div>
  <div class="download">
    <p>{{url}}</p>
    <a id="downloadbtn" href="{{url}}" download><b>下载</b></a>
  </div>
</body>
</html>

