body {
  background: no-repeat center center fixed;
  -webkit-background–size: cover;
  -moz-background–size: cover;
  -o-background–size: cover;
  background-size: cover;
  background-color: #7D7D7D;
  font-family: Avenir;
  color: #FFF;
  text-shadow: 0px 2px 4px #000;
  height: 90vh;
}

a {
  text-decoration: none;
}

#backbtn {
  float: left;
  margin: 24px;
  color: #FFF;
  font-size: 32px;
  font-weight: lighter;
}

.info {
  float: right top;
  margin: 24px;
  text-align: right;
  font-size: 36px;
  font-weight: lighter;
}

.download {
  position: absolute;
  bottom: 16px;
  width: 850px;
  left: 50%;
  transform: translateX(-50%);
}

.download * {
  display: inline;
}

.download p {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

#downloadbtn {
  font-size: 28px;
  font-weight: lighter;
  color: #FFF;
  margin-top: 15px;
  margin-left: 32px;
}

iframe {
  display: none;
}
